@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #B3CDFE;
  --foreground: #B3CDFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #B3CDFE;
  font-family: var(--font-pixelify-sans);
}
